html 
{
background-attachment: fixed;
background-image: url('/images/background.png');
background-repeat: repeat;
}
#container
{
display: none;
position:absolute;
margin: 25px 45px 50px;
}
.b-top
{
z-index:2600;
position:fixed;
left:0;
bottom:90px;
width:34%;
margin-left:55.5%;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;opacity: 0.5;filter:alpha(opacity=50);
}
.b-top:hover
{
opacity:1;
filter:alpha(opacity=100);
cursor:pointer;
}
.b-top-but 
{
z-index:2600;
position:absolute;
display:block;left:60px;
bottom:0;
margin:0 0 0 100%;
padding:32px 12px 4px; 
white-space: pre;
color:white;
background:#8B0000 url(/images/b-j-top.png) no-repeat 60% 11px;
border-radius:7px;
}
.masonryImage
{
width: 226px;
margin: 0px auto;
margin-bottom: 5px;
margin-left: 10px;
margin-right: 10px;
position: relative;
z-index: 100;
}
.masonryImage .brick-inner {
background-color: #fff;
background-image: url('/images/pin-bg.png');
background-repeat: no-repeat;
background-position: bottom center;
border: 1px solid #e6e4da;
padding-bottom: 30px;
font-family: Tahoma, Verdana, sans-serif;
padding-top: 0px;
box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
}
.masonryImage a{
text-decoration: none;
font-size: 14px;
outline : 0; 
border: 0;
color: #a48b40;
}
.masonryImage a:hover
{
color: #8B0000;
outline : 0; 
border: 0;
}
.masonryImage a img
{
border:0;
outline : none;
}
.masonryImage .image
{
font-family: Tahoma, Verdana, sans-serif;
overflow: hidden;
outline : 0; 
border: 0;
}
.masonryImage .thumb 
{
margin: 0px;
width: 224px;
-webkit-filter: contrast(120%);/*работает только в Google Chrome*/
}
.masonryImage img:hover
{
-webkit-filter: contrast(100%);/*работает только в Google Chrome*/
cursor: -webkit-zoom-in; 
cursor: -moz-zoom-in;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.9;
}
.image .cart
{
display: none;
background-image: url("/images/bayme_icon.png");
background-repeat: no-repeat;
font: 0/0 serif;
text-shadow: none;
color: transparent;
height:50px; 
position: absolute;
right: 145px;
top: 3px;
}
.image .cart:hover
{
font: 0/0 serif;
text-shadow: none;
color: transparent;
}
.masonryImage p
{
margin-bottom: 5px;  
font-size: 16px;
padding-left: 10px;
padding-right: 10px;
}
.masonryImage .enable
{
color: #a7a7a7;
font-size: 10px;
font-weight: bolder;
}
.masonryImage .description
{ 
border: 0;
font-size: 14px;
font: inherit;
font-size: 14px;
vertical-align: baseline;
margin-bottom: 5px;
}
.masonryImage .description p
{
text-align: left;
}
.masonryImage .line
{
color: #8B0000;text-align: center;
font-style: bold;
font-size: 20px;
}
.masonryImage .post-price {
background-image: url('/images/price_icon.png');
background-repeat: no-repeat;
width: 70px;
height: 60px;
padding-top: 15px;
padding-right: 2px;
color: #fff;
font-style: italic;
line-height: 35px;
text-align: center;
margin: 0px auto;
z-index: 100;
margin-top: -35px;
position: relative;
}
.masonryImage span
{
font-size: 14px;
font-family: tahoma, verdana, sans-serif;
position: relative;
}
#loader 
{
height: 16px;
text-align: center;
padding: 25px 0 25px 0;
}  
#loaderCircle 
{
width: 16px;
height: 16px;
margin: 0 auto;
background-image: url('/images/loader.gif');
}